{{!-- https://fathomless-meadow-84873.herokuapp.com/ --}}

<div class='container mt-5'>
  {{#each url}}
  <div class="row justify-content-md-center m-3">
    <div class="col-6">
      <div class="row">
        <div>{{this.date}}</div>
      </div>
      <div class="row">
        <div class="overflow-ellipsis">{{this.longUrl}}</div>
        {{!-- collapse --}}
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{this._id}}" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Full Url
          </a>
        </p>
        <div class="collapse" id="collapseExample{{this._id}}">
          <div class="card card-body">
            {{this.longUrl}}
          </div>
        </div>
        {{!-- end of collapse --}}
      </div>
      <div class="row">
        <div><a href="{{this.longUrl}}"
            target="blank">https://fathomless-meadow-84873.herokuapp.com/{{this.shortUrl}}</a></div>
      </div>
    </div>
    <div class="col-3">
      <button type="button">Copy</button>
    </div>
  </div>
  {{/each}}
</div>