<div class='container mt-5'>
  {{!-- start of single url row --}}
  {{#each url}}

  <div class="row m-3 justify-content-around border rounded vertical-align">
    <div class="col-1">
      <form action="/{{this._id}}?_method=DELETE" method="POST" style="display: inline;">
        <button class='btn btn-lg btn-outline-secondary' type="submit">X</button>
      </form>
    </div>
    <div class="col-1">
      <div class="row">{{this.clicks}}</div>
      <div class="row">clicks</div>
    </div>
    <div class="col-3">
      <div class="row">
        <div>{{this.date}}</div>
      </div>
      <div class="row">
        <div class="overflow-ellipsis">{{this.longUrl}}</div>
      </div>
      {{!-- collapse --}}
      <div class="row">
        <p>
          <button class="btn btn-outline-info btn-sm mt-1" data-toggle="collapse" href="#collapseExample{{this._id}}"
            role="button" aria-expanded="false" aria-controls="collapseExample">
            Full URL
          </button>
        </p>
        <div class="collapse m-3" id="collapseExample{{this._id}}">
          <div class="card card-body">
            {{this.longUrl}}
          </div>
        </div>
      </div>
    </div>
    {{!-- end of collapse --}}

    <div class="col-6">
      <div class="row mb-1">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id='copy{{this._id}}'
            value='hhttps://fathomless-meadow-84873.herokuapp.com/{{this.shortUrl}}' readonly>
          <div class="input-group-append">
            <button type="button" class="btn btn-success btn-lg btn-block" onclick="copyClipboard('copy{{this._id}}')"
              data-clipboard-text="https://fathomless-meadow-84873.herokuapp.com/{{this.shortUrl}}">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}
  {{!-- end of single url row --}}
</div>